@font-face {
    font-family: 'Gen Jyuu Gothic';
    src: url('GenJyuuGothic-Heavy.eot');
    src: url('GenJyuuGothic-Heavy.eot?#iefix') format('embedded-opentype'),
        url('GenJyuuGothic-Heavy.woff2') format('woff2'),
        url('GenJyuuGothic-Heavy.woff') format('woff'),
        url('GenJyuuGothic-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

